@{
    ViewBag.Title = "Azure Cloud Services";
}

<div class="jumbotron">
    <h1>Azure Cloud Services</h1>
    <p class="lead">Azure Cloud Services is an example of Platform-as-a-Service (PaaS). Like App Service, this technology is
        designed to support applications that are scalable, reliable, and cheap to operate. Just like an App Service is hosted on VMs, so too are 
        Cloud Services, however, you have more control over the VMs. You can install your own software on Cloud Service VMs and you can remote into them.</p>
    <p><a href="https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-choose-me" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            WELCOME TO Azure Cloud Services POC, this POC gives you a powerful, way to undertand how use WebRoles and Workers Roles biside the use of
            Tables, Qeues and Blobs for enjoyable undertanding of development wiht Cloud Services on Azure.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-get-started">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Azure Products</h2>
        <p>Global. Trusted. Hybrid. This is the cloud on your terms.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>